.authComponent {
    .header.huge {
        font-size: 40px;
    }

    @media only screen and (max-width: 767px) {
        .header.huge {
            margin-bottom: 0;
        }
    }

    .authSegment {
        background: $invertedBackgroundColor !important;
        border: none !important;
        margin: 0 auto;

        .error.message {
            margin-bottom: 14px;
        }

        .raceHeader {
            cursor: pointer;
            margin: 0;

            &.active {
                border-bottom: solid 2px $yellow;
                display: inline;
                padding-bottom: 6px;
            }
        }
    }

    .registerText {
        margin-top: 4px;

        .registerLink {
            border-bottom: solid 2px $invertedYellow;
            cursor: pointer;
            padding-bottom: 3px;
        }
    }
}