.autocompleteComponent {
    .ui.input {
        width: 100%;

        input {
            border: none;
            border-radius: 4px;
        }

        .icon {
            color: $white;
        }
    }

    .results.transition {
        background: $invertedBackgroundColor !important;
        border: none;
        top: 53px;
        width: 100% !important;

        .message.empty {
            .header {
                color: $white;
                font-size: 18px;
            }
        }

        .category {
            display: block !important;
            width: 100% !important;

            .name {
                background: lighten($invertedBackgroundColor, 3%) !important;
                display: block !important;
                padding: 0 !important;
                width: 100% !important;
            }

            .results {
                background: lighten($invertedBackgroundColor, 5%) !important;
                border: none !important;
                display: block !important;
                width: 100% !important;

                .result {
                    background: lighten($invertedBackgroundColor, 5%);
                    display: block !important;
                    padding: 11px;
                    width: 100% !important;

                    .header {
                        margin-top: 0 !important;
                    }

                    &:hover {
                        background: lighten($invertedBackgroundColor, 3%);
                    }

                    .image {
                        height: 42px !important;
                        width: 42px !important;
                    }
                }
            }
        }
    }
}