.commentsSection {
    .ui.comments {
        max-width: none !important;

        .comment {
            .avatar {
                cursor: pointer;
            }

            .content {
                background: lighten($invertedBackgroundColor, 5%) !important;
                border-radius: 4px;
                padding: 7px 12px 10px 12px !important;

                .author {
                    color: $white !important;
                }

                .metadata {
                    color: $lightGrey !important;

                    .highlightedAlert {
                        color: $invertedYellow;
                    }
                }

                .text {
                    color: $white !important;
                }

                .actions a {
                    color: $lightGrey !important;
                }

                .actions {
                    .count {
                        font-weight: bold;
                        margin-left: 6px;
                    }

                    .likeThis {
                        &:hover {
                            color: $invertedYellow;
                        }
                    }
                }

                &.highlighted {
                    border: solid 1px $invertedYellow;
                }
            }

            &.redirect {
                cursor: pointer;

                .content {
                    background: lighten($invertedBackgroundColor, 7%) !important;
                }
            }

            span.liked {
                color: $invertedYellow;
            }
        }
    }

    .postCommentButton {
        margin: 18px 0 24px 0 !important;
    }

    .tooltipClass {
        font-size: 18px !important;
    }
}