@keyframes increase {
	from {
		left: -5%;
		width: 5%;
	}
	 
	to {
	    left: 130%;
		width: 100%;
	}
 }
 
 @keyframes decrease {
	from { 
		left: -80%;
		width: 80%;
	}
 
	to {
		left: 110%;
		width: 10%;
	}
}

.pageHeader {
    .rainbow {
        background: $invertedYellow;
        // background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
        // background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));

        color: transparent;
        height: 4px !important;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99999;
    }

    .subline {
        background: $yellow;
        height: 4px;
        position: fixed;
        top: 0;
        z-index: 999999;
    }

    .inc {
        animation: increase 2s infinite;
    }

    .dec {
        animation: decrease 2s 0.5s infinite;
    }

    .topHeader {
        align-items: center;
        background: lighten($invertedBackgroundColor, 3%);
        display: flex;
        justify-content: center;
        max-width: none !important;
        padding: 14px 13px 10px 13px;
        position: fixed;
        top: 0;
        width: 100% !important;
        z-index: 9999;

        .container.mobile {
            margin: 0 !important;
            width: 100% !important;

            .allyButton {
                margin-right: 18px;
            }

            .icon.ellipsis {
                margin-right: 0;          
            }
        }
 
        img {
            cursor: pointer;
            height: 48px;
            width: 48px;
        }

        .container.basic {
            display: flex;
            justify-content: center;
            padding: 8px 0;
        }

        .grid .column {
            &.logoColumn {
                align-items: center;
                display: flex;
            }

            input {
                line-height: 25px;
            }
        }

        @media only screen and (max-width: 1025px) {
            .container.desktop {
                display: none;
            }
        }

        @media only screen and (min-width: 1024px) {
            .container.mobile {
                display: none;
            }
        }

        .sidebar.ui.labeled.icon.menu .item {
            background: lighten($invertedBackgroundColor, 3%) !important;
            font-weight: bold !important;
            line-height: 24px !important;
            text-align: left !important;

            .icon {
                color: $invertedYellow;
                display: inline;
                font-size: 24px !important;
                padding-right: 16px;
                vertical-align: middle;
            }
        }
    }
}