.searchResults {
	.container {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.resultsList {
		@media only screen and (max-width: 1025px) {
			padding: 0 !important;
		}

		&.inverted {
			.item {
				background: lighten($invertedBackgroundColor, 4%);
				border: none;
				cursor: pointer;
				padding: 15px;

				&:hover {
					background: lighten($invertedBackgroundColor, 3%);
				}

				@media only screen and (max-width: 1025px) {
					.image {
						display: none !important;
					}

					margin: 7px auto !important;

					&:first-of-type {
						margin-top: 0 !important;
					}
				}

				.content {
					@media only screen and (max-width: 1025px) {
						padding-top: 0 !important;
					}

					.header {
						color: $offWhite !important;
					}

					.meta {
						color: $offWhite !important;
					}

					.description {
						color: $white;
						font-size: 15px;
					}
				}
			}

			.card {
				background: $invertedBackgroundColor !important;
				border: none;
				box-shadow: none;
				cursor: pointer;
				
				&:hover {
					box-shadow: none !important;
				}

				.image {
					max-height: 240px;
					overflow-y: hidden;
				}

				.content {
					background: lighten($invertedBackgroundColor, 6%);

					.header, .meta, .description {
						color: $white;

						a {
							color: $white;
						}
					}

					.description {
						display: -webkit-box;
						overflow: hidden;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 3;
					}

					&.extra {
						background: lighten($invertedBackgroundColor, 4%) !important;

						.commentCount {
							color: $white;
							font-size: 15px;
							padding: 0 4px;
						}
					}
				}
			}
		}
	}
}