.searchResults {
	.resultsList {
		&.inverted {
			.item {
				background: lighten($invertedBackgroundColor, 2%);
				border: solid 1px $black;
				cursor: pointer;
				padding: 15px;

				&:hover {
					background: $invertedBackgroundColor;
					transition: 0.3s;
				}

				.header {
					color: $offWhite !important;
				}

				.meta {
					color: $offWhite !important;
				}
			}
		}
	}
}