.pageSidebar {
    .ui.inverted.menu.globalSidebar {
        background: $white;
        box-shadow: none;
        margin-top: 0;
        width: 100%;
        z-index: 1001 !important;

        &.inverted {
            background: $invertedBackgroundColor;
        }

        .headerMenuItem {
            cursor: pointer;
            font-weight: bold !important;

            &.home {
                padding-left: 0 !important;
                padding-top: 0 !important;
            }

            &.signIn {
                margin-top: 15px;
                padding: 0 2px !important;
            }

            &.active {
                background: $invertedBackgroundColor !important;
                color: $invertedYellow !important;
            }

            &:hover {
                background: lighten($invertedBackgroundColor, 3%) !important;
                color: $invertedYellow !important;

                .icon {
                    color: $invertedYellow;
                }
            }
        }
    }

    .ui.list.aboutList {
        margin-bottom: 12px;
        text-align: center;
        width: 100%;

        .item {
            color: $lightGrey;

            a {
                color: $lightGrey;

                &:hover {
                    border-bottom: solid 1px $white;
                    color: $lightGrey !important;
                    padding-bottom: 3px;
                }
            }
        }
    }
}