@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.pageHeader {
    .menu.globalHeader {
        background: $white;
        box-shadow: none;
        margin-top: 0;
        width: 100%;
        z-index: 1001 !important;

        &.inverted {
            background: $invertedBackgroundColor;
        }
    }

    .headerMenuItem {
        cursor: pointer;
        font-weight: bold !important;

        &.home {
            padding-left: 0 !important;
            padding-top: 0 !important;
        }

        &.signIn {
            margin-top: 15px;
            padding: 0 2px !important;
        }

        &.active {
			background: lighten($invertedBackgroundColor, 3%) !important;
		}
    }

    &.basic {
        .headerMenuItem.home {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
        }
    }

    .dropDownMenu {
        &.inverted {
            .menu {
                background: lighten($invertedBackgroundColor, 6%);

                &:before, &:after {
                    background: lighten($invertedBackgroundColor, 6%);
                }

                .item {
                    color: $white !important;

                    &:hover {
                        background: lighten($invertedBackgroundColor, 8%);
                        color: $offWhite !important;
                    }
                }
            }
        }

        .menu.visible {
            min-width: 150px;
            z-index: 1001;
        }
    }
}