@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.pageSidebar {
    .menu.globalSidebar {
        background: $white;
        box-shadow: none;
        margin-top: 0;
        width: 100%;
        z-index: 1001 !important;

        &.inverted {
            background: $invertedBackgroundColor;
        }
    }

    .headerMenuItem {
        cursor: pointer;
        font-weight: bold !important;

        &.home {
            padding-left: 0 !important;
            padding-top: 0 !important;
        }

        &.signIn {
            margin-top: 15px;
            padding: 0 2px !important;
        }

        &.active {
			background: lighten($invertedBackgroundColor, 3%) !important;
		}
    }

    &.basic {
        .headerMenuItem.home {
            // display: flex;
            // justify-content: center;
            // text-align: center;
            // width: 100%;
        }
    }
}