@import './colors.scss';

// Components
@import './authentication.scss';
@import './autocomplete.scss';
@import './footer.scss';
@import './header.scss';
@import './searchResults.scss';
@import './sidebar.scss';

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

* {
	// border-radius: 0 !important;
}

body {
	background: $invertedBackgroundColor;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

.body {
	&.inverted {
		background: $invertedBackgroundColor;
	}
}

.segment.inverted {
	background: $invertedBackgroundColor !important;

	&.uploadSegment, &.lighter {
		background: lighten($invertedBackgroundColor, 3%) !important;
	}
}

.errorMsgContainer {
	height: 300px;
	position: relative;
	width: 100%;

	.ui.header {
		margin: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);

		.ui.button {
			margin-top: 18px;
		}
	}
}

.mainContainer {
	margin-top: 5.1em;
	min-height: 100vh;
	padding: 20px 3px;

	&.inverted {
		background: $invertedBackgroundColor;

		a {
			color: $lightGrey;

			&:hover {
				color: $lightGrey !important;
			}
		}
	}

	.dimmer.pageDimmer {
		align-items: center;
		background: $invertedBackgroundColor;
		display: flex;
	}

	@media only screen and (max-width: 767px) {
		&.ui.container {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}

	.addButton {
		float: right;
		margin-right: 0;
	}

	.grid.mainGrid {
		.column.four.leftColumn {
			padding-left: 0;

			@media only screen and (max-width: 767px) {
				display: none;
			}
		}

		.column.twelve.rightColumn {
			@media only screen and (max-width: 767px) {
				.ui.grid.stackable {
					margin-left: 0 !important;
					margin-right: 0 !important;
				}
			}
		}
	}
}

.gridList {
	&.inverted {
		.item {
			color: $white;

			&.active {
				border-bottom: solid 1px $white;
			}
		}
	}

	.item {
		cursor: pointer;
	}
}

.input:not(.autocomplete), .dropdown.selection {
	.dropdown.icon, .search.icon {
		color: $white !important;
	}
}

:not(.autocomplete) > input, textarea, .dropdown.selection {
	background-color: transparent !important;
	border: solid 1px rgba(255,255,255,0.4) !important;
	caret-color: $white;
	color: $white !important;
	outline: none !important;
}

.ui.active.visible.search.selection.dropdown {
	.menu.visible.transition {
		border: solid 1px rgba(0,0,0,0.5) !important;
		max-height: 260px;

		&.upward {
			border-bottom: none !important;
		}

		.item {
			background: $invertedBackgroundColor;
			border: none !important;
			color: $white;
			font-size: 18px !important;
			padding: 16px 21px !important;

			&:hover {
				background: darken($invertedBackgroundColor, 1%);
			}
		}
	}
}

.ui.upward.selection.dropdown.visible {
	border-radius: 0 !important;
}

.interactionsPage {
	.header {
		a {
			&:hover {
				border-bottom: solid 1px $white;
            	padding-bottom: 3px;
			}
		}
	}
	video {
		border-radius: 4px;
	}
}

.signInPage {
	margin-top: 5em;
	padding-top: 25px !important;
	width: 100% !important;

	@media only screen and (max-width: 767px) {
		&.ui.container {
			margin: 0 !important;
		}
	}
}

.videoInputSegment {
	padding: 0 !important;
}

.Toastify__toast-container--bottom-left .Toastify__toast-body {
	font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 767px) {
	.pageDimmer {
		.loader {
			margin-top: 160px;
		}
	}

	.ui.grid {
		.five.column {
			img, .placeholder {
				border-radius: 50%;
			}
		}

		&.departmentGrid {
			.mapColumn {
				display: none !important;

				* {
					display: none;
				}
			}
		}
	}

	.interaction.officersList {
		img {
			display: none !important;
		}
	}

	#optionalInteractionUpload {
		display: none;
	}
}

.mapboxgl-map {
	border-radius: 4px !important;
}

.aboutSection {
	.list {
		color: $white !important;
	}
}

.contactUsButton {
	margin-top: 19px !important;
}