@import './colors.scss';

// Components
@import './authentication.scss';
@import './footer.scss';
@import './sidebar.scss';
@import './usersList.scss';
@import './searchResults.scss';

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes increase {
	from {
		left: -5%;
		width: 5%;
	 }
	 
	 to {
		left: 130%;
		width: 100%;
	 }
 }
 
 @keyframes decrease {
	 from { 
		 left: -80%;
		 width: 80%;
	 }
 
	 to {
		 left: 110%;
		 width: 10%;
	 }
 }

* {
	border-radius: 0 !important;
}

.rainbow {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
	background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
	color: transparent;
	height: 5px !important;
	// opacity: 0.7;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}

.subline {
	background: $lightGrey;
	height: 5px;
	position: fixed;
	top: 0;
	z-index: 999999;
}

.inc {
	animation: increase 2s infinite;
}

.dec {
	animation: decrease 2s 0.5s infinite;
}

.topHeader {
	background: lighten($invertedBackgroundColor, 4%) !important;

	.container {
		display: flex;
		justify-content: center;
	}

	.item {
		img {
			cursor: pointer;
			height: 48px;
			width: 48px;
		}
	}
}

body {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	-webkit-overflow-scrolling: touch;
	width: 100%;

	&.inverted {
		background: $invertedBackgroundColor;
	}
}

.body {
	&.inverted {
		background: $invertedBackgroundColor;
	}
}

.segment.inverted {
	&:not(.authSegment) {
		background: lighten($invertedBackgroundColor, 3%) !important;
		// background: lighten($invertedBackgroundColor, 2%);
		// border: solid 1px $black;
	}
}

.errorMsgContainer {
	height: 300px;
	position: relative;
	width: 100%;

	.ui.header {
		margin: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);

		.ui.button {
			margin-top: 18px;
		}
	}
}

.mainContainer {
	margin-top: 5.2em;
	min-height: 100vh;
	padding: 20px 3px;

	&.inverted {
		background: $invertedBackgroundColor;

		a {
			color: $lightGrey;

			&:hover {
				color: darken($lightGrey, 5%);
			}
		}
	}

	.dimmer.pageDimmer {
		align-items: center;
		background: $invertedBackgroundColor;
		display: flex;
	}

	@media only screen and (max-width: 767px) {
		&.ui.container {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}

	.addButton {
		float: right;
		margin-right: 0;
	}
}

.gridList {
	&.inverted {
		.item {
			color: $white;

			&.active {
				border-bottom: solid 1px $white;
			}
		}
	}

	.item {
		cursor: pointer;
	}
}

.signInPage {
	margin-top: 4.5em;
	width: 100% !important;

	@media only screen and (max-width: 767px) {
		&.ui.container {
			margin: 0 !important;
		}
	}
}