@import './colors.scss';

// Components
@import './authentication.scss';
@import './autocomplete.scss';
@import './comments.scss';
@import './footer.scss';
@import './header.scss';
@import './searchResults.scss';
@import './sidebar.scss';

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

* {
	// border-radius: 0 !important;
}

.ui.form .field.field {
	input:-webkit-autofill, input::selection, input:active:-webkit-autofill, input:focus:-webkit-autofill {
		background: $invertedBackgroundColor !important;
		background-color: $invertedBackgroundColor !important;
		border: solid 1px $white!important;
		outline: none !important;
		-webkit-box-shadow: 0 0 0 50px $invertedBackgroundColor inset !important;
		-webkit-text-fill-color: $white !important;
	}
}

body {
	background: $invertedBackgroundColor;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

.body {
	&.inverted {
		background: $invertedBackgroundColor;
	}
}

.searchModeContainer {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-bottom: 1em;
	padding-top: 1em;

	.grid {
		.row {
			.thirteen.wide.column {
				padding-right: 0;
			}
		
			.closeSearchMode {
				color: $lightGrey;
				float: right;
				line-height: 36px;
			}
		}
	}
}

.profileMenu {
	margin-top: 26px !important;

	.item {
		// display: inline-block !important;
		// text-align: center !important;
		// width: 50%;
	}

	+ .searchResults {
		@media only screen and (max-width: 1025px) {
			margin-top: 26px !important;
		}
	}

	@media only screen and (max-width: 1025px) {
		margin-top: 0 !important;
	}
}

.segment.inverted {
	background: lighten($invertedBackgroundColor, 4%) !important;

	&.uploadSegment, &.authSegment {
		background: $invertedBackgroundColor !important;
	}

	&.uploadSegment {
		@media only screen and (max-width: 1025px) {
			padding: 0 !important;
		}
	}

	&.uploadSegment {
		padding: 0 !important;
	}
}

.errorMsgContainer {
	height: 300px;
	position: relative;
	width: 100%;

	.ui.header {
		margin: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);

		.ui.button {
			margin-top: 18px;
		}
	}
}

.mainContainer {
	margin-top: 5.1em;
	min-height: 100vh;
	padding: 20px 3px;

	&.inverted {
		background: $invertedBackgroundColor;

		a {
			color: $lightGrey;

			&:hover {
				color: $lightGrey !important;
			}
		}
	}

	.dimmer.pageDimmer {
		align-items: center;
		background: $invertedBackgroundColor;
		display: flex;
	}

	@media only screen and (max-width: 1025px) {
		&.ui.container {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}

	.addButton {
		float: right;
		margin-right: 0;
	}

	.grid.mainGrid {
		.column.four.leftColumn {
			padding-left: 0;

			@media only screen and (max-width: 1025px) {
				display: none;
			}
		}

		.column.twelve.rightColumn {
			@media only screen and (max-width: 1025px) {
				.ui.grid.stackable {
					margin-left: 0 !important;
					margin-right: 0 !important;
				}
			}
		}
	}
}

.gridList {
	margin-top: 8px !important;

	&.inverted {
		.item {
			color: $white;

			&.active {
				border-bottom: solid 1px $white;
			}
		}
	}

	.item {
		cursor: pointer;
	}
}

.input:not(.autocomplete), .dropdown.selection {
	.dropdown.icon, .search.icon {
		color: $white !important;
	}
}

:not(.autocomplete1) > input, textarea, .dropdown.selection {
	background-color: transparent !important;
	border: solid 1px rgba(255,255,255,0.4) !important;
	caret-color: $white;
	color: $white !important;
	outline: none !important;
}

.ui.active.visible.search.selection.dropdown {
	.menu.visible.transition {
		background: $invertedBackgroundColor;
		border: solid 1px rgba(255, 255, 255, 0.4) !important;
		max-height: 260px;

		.message {
			color: $white !important;
		}

		&.upward {
			border-bottom: none !important;
		}

		.item {
			background: $invertedBackgroundColor;
			border: none !important;
			color: $white;
			font-size: 18px !important;
			padding: 16px 21px !important;

			&:hover {
				background: darken($invertedBackgroundColor, 1%);
			}
		}
	}
}

.ui.upward.selection.dropdown.visible {
	border-radius: 0 !important;
}

.interactionsPage {
	.header {
		a {
			&:hover {
				border-bottom: solid 1px $white;
            	padding-bottom: 3px;
			}
		}
	}

	video {
		border-radius: 4px;
	}
}

.signInPage {
	margin-top: 5em;
	padding-top: 25px !important;
	width: 100% !important;

	@media only screen and (max-width: 1025px) {
		&.ui.container {
			margin: 0 !important;
		}
	}
}

.ui.segment.videoInputSegment {
	background: $invertedBackgroundColor !important;
	padding: 0 !important;
}

.Toastify__toast-container--bottom-left .Toastify__toast-body {
	color: $white;
	font-size: 16px;
    text-align: center;
}

.Toastify__toast--success {
	background: $orange;
	border-radius: 4px;
}

.Toastify__toast--error {
	background: $red;
	border-radius: 4px;
}

@media only screen and (max-width: 1025px) {
	.pageDimmer {
		.loader {
			margin-top: 160px;
		}
	}

	.ui.grid {
		.five.column {
			img, .placeholder {
				// border-radius: 50%;
			}
		}

		&.departmentGrid {
			.mapColumn {
				display: none !important;

				* {
					display: none;
				}
			}
		}
	}

	.interaction.officersList {
		img {
			display: none !important;
		}
	}

	#optionalInteractionUpload {
		display: none;
	}

	.imageUploadHeader {
		display: none;
	}

	.moreInteractionsHeader {
		margin-bottom: 40px !important;
	}

	.officersPage {
		.gridList {
			display: none !important;
		}
	}
}

.mapboxgl-map {
	border-radius: 4px !important;
}

.aboutPage {
	p.ui.header {
		font-weight: normal !important;
	}
}

.aboutSection {
	.list {
		color: $white !important;
	}
}

.contactUsButton {
	margin-top: 19px !important;
}

.fileUploadWrapper {
	outline: none !important;
}

.rodneyKingImg {
	border: solid 1px $lightGrey !important;
}

.interactionCommentSegment {
	.ui.header {
		img {
			cursor: pointer;

			@media only screen and (max-width: 1025px) {
				display: none !important;
			}
		}
	}
}

.ui.placeholder {
	border-radius: 4px;
}

.ui.segment.interactionDescription span {
	line-height: 1.4 !important;
	white-space: pre-wrap !important;
	word-break: break-word !important;

	a {
		padding-bottom: 2px !important;

		&:hover {
			border-bottom: solid 1px $white !important;
		}
	}
}

.officerDepartmentLink {
	padding-bottom: 2px;

	&:hover {
		border-bottom: solid 1px $lightGrey;
	}
}

.header {
	span.username {
		color: darken($lightGrey, 4%) !important;
		font-size: 14px !important;
		line-height: 20px !important;
	}
}

.editBioForm {
	margin-top: 12px !important;

	.ui.button {
		margin-top: 12px !important;
	}
}

.userBio {
	font-weight: normal !important;

	&.mobile {
		display: none;
	}

	@media only screen and (max-width: 1025px) {
		&.desktop {
			display: none;
		}

		&.mobile {
			display: inline-block;
			font-size: 15px !important;
		}

	}
}